## Automate EDA Techniques

### 1. Pandas_Profiling

In [3]:
# import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# load the dataset
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
from pandas_profiling import ProfileReport

In [8]:
profile = ProfileReport(df, explorative = True, dark_mode = True)

In [9]:
profile.to_file('output.html')  # see the output file with complete EDA of tips dataset which download in html

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### 2. dtale

In [15]:
import dtale

In [16]:
df1 = sns.load_dataset('titanic')

In [17]:
datle.show(df1)

### 3. sweetviz

In [19]:
import sweetviz as sv

In [20]:
report = sv.analyze(df1)

                                             |                                             | [  0%]   00:00 ->â€¦

In [22]:
report.show_html('newreport.html')

Report newreport.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### 4. dataprep

In [26]:
import dataprep

In [27]:
from dataprep.eda import create_report

In [28]:
create_report(df)